apiVersion: apps/v1
kind: Deployment
metadata:
  name: upscale-banking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: upscale-banking
  template:
    metadata:
      labels:
        app: upscale-banking
    spec:
      containers:
        - name: upscalebanking
          image: xjohnfit/upscale-banking:latest
          imagePullPolicy: Always
          resources:
            limits:
              cpu: "1"
            requests:
              cpu: "200m"
          ports:
            - containerPort: 5000 # Next.js default port
          envFrom:
            - secretRef:
                name: upscalebanking-secrets
          livenessProbe:  
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 10
          
          readinessProbe:  
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 5
      imagePullSecrets:
        - name: regcred
