apiVersion: apps/v1
kind: Deployment
metadata:
  name: upscale-banking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: upscale-banking
  template:
    metadata:
      labels:
        app: upscale-banking
    spec:
      containers:
        - name: upscalebanking
          image: xjohnfit/upscale-banking:main
          imagePullPolicy: Always
          resources:
            limits:
              cpu: "1"
              memory: "512Mi"
            requests:
              cpu: "200m"
              memory: "256Mi"
          ports:
            - containerPort: 5000 # Next.js default port
          envFrom:
            - secretRef:
                name: upscalebanking-secrets
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 30
            timeoutSeconds: 5
            periodSeconds: 10
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 15
            timeoutSeconds: 5
            periodSeconds: 5
            failureThreshold: 3
      imagePullSecrets:
        - name: regcred
