apiVersion: v1
kind: Service
metadata: 
  name: upscalebanking
  labels:
    app: upscalebanking
spec:
  type: ClusterIP  # Internal service (not exposed to internet directly)
  selector:
    app: upscalebanking  # Routes traffic to pods with this label
  ports:
    - port: 5000       # Port the service listens on
      targetPort: 5000 # Port the container listens on
      protocol: TCP
      name: http